
.ipynb_checkpoints/score-checkpoint.ipynb
.ipynb_checkpoints/letuin-checkpoint.ipynb
.ipynb_checkpoints/hackers_real-checkpoint.ipynb
.ipynb_checkpoints/weeport-checkpoint.ipynb
.ipynb_checkpoints/letuin_real-checkpoint.ipynb
.ipynb_checkpoints/weeport_real-checkpoint.ipynb
.ipynb_checkpoints/weeport_final-checkpoint.ipynb
.ipynb_checkpoints/letuin_final-checkpoint.ipynb
20_second/.ipynb_checkpoints/*
온라인 gsat 쿠폰.docx
온라인gsat.txt